<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>BlackOpsOne-Regular.ttf</string>
		<string>RobotoMono-Italic-VariableFont_wght.ttf</string>
		<string>RobotoMono-VariableFont_wght.ttf</string>
		<string>LobsterTwo-Bold.ttf</string>
		<string>RobotoSlab-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
